#jspsych-content img {
   max-width: 100%; 
   height: auto;
 }




.estimate {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 10px;
}

.estimate label {
    font-size: 14px;
    line-height: 1em;
}

input[type="radio" i] {
    margin: 0;
    line-height: 1em;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
    width: 50px;
}
